// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.
$dark-blue: #394263;
$med-blue:#4090C1;
$light-blue: #BEDBFF;
$dark-red:#c10000;
$marker: #952222;